name: Simulations

on:
  workflow_dispatch:
    inputs:
      picking_items:
        description: "How many items should the robot pickup?"
        required: false
        default: "5"
      runs:
        description: "How many simulation runs?"
        required: false
        default: "1"
      heuristic_weight:
        description: "A* heuristic weight"
        required: false
        default: "2.0"
      seed:
        description: "Which seed would you like to use?"
        required: false
        default: "123456789"

env:
  BUILD_TYPE: Release

jobs:
  simulate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install CMake 4.x
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.0'

      - name: Configure CMake
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: Build Simulation target
        run: |
          cmake --build ${{ github.workspace }}/build \
            --config ${{ env.BUILD_TYPE }} \
            --parallel \
            --target Simulation

      - name: Run Simulation with parameters
        working-directory: ${{ github.workspace }}/build
        run: |
          ./Simulation \
            ${{ github.event.inputs.picking_items }} \
            ${{ github.event.inputs.runs }} \
            ${{ github.event.inputs.heuristic_weight }} \
            ${{ github.event.inputs.seed }}

          echo "Simulation finished with custom parameters."

      - name: Upload results.txt Artifact
        uses: actions/upload-artifact@v4
        with:
          name: simulation-results
          path: ${{ github.workspace }}/build/results.txt